*{
    margin: 0;
    padding: 0;
}

div.item{
    border: solid 1px;
    border-color: rgb(201, 201, 201);
    display: block;
    padding-left: 20px;
    width: 75%;
    height: 30vh;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

img.pizza{
    width: 170px;
    margin-top: 10px;
    padding: 0;
}

h5{
    padding: 0px;
    font-size: 16px;
}

button {
    border-radius: 5px;
    background: rgb(255, 0, 0);
    width: 80%;
    border-radius: 5px;
    padding: 3px 13px;
    border: solid 1px;
    border-style: hidden;
    align-content: center;
}

button:hover{
    background: #da0000;
}

button a{
    color: white;
}

div.cont{
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}