*{
    text-decoration: none !important;
}
.btn .btn-primary {
    padding: 14px 20px;
    margin: 8px 0;
    border:none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    background: rgb(255, 0, 0) !important;
    color: white;
    
    font-size: 15px;
    }

    .btn .btn-primary :hover{
    background: rgb(255, 44, 44)!important;
}