*{
    padding: 0;
    margin: 0;
}
div#userform{
    margin-top: 40px;
    
    min-height: 50vh;
    width: 40%;
    float: left;    
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 1px 7px rgb(255, 0, 0); 
}

div#userinfo{
    
    width: 40%;
    float: left;  
    
    min-height: 50vh;
    margin-top: 40px;
    
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0px 1px 7px rgb(255, 0, 0);
}

div#container{
    display: flex;
    padding: 20px;
}